<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  <!--<customErrors mode="On">
      <error statusCode="404" redirect="default.aspx"/>
  </customErrors>-->
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="admin@amawakawaka.co.za">
        <network host="mail.amawakawaka.co.za" port="587" userName="admin@amawakawaka.co.za" password="adm@m@W2021" defaultCredentials="false"/>
      </smtp>
    </mailSettings>
  </system.net>
  
  <appSettings>
    <add key="AmawakawakaLogoUrl" value="http://www.amawakawaka.co.za/img/logo/logo.png" />
    <add key="AmawakawakaBannerUrl" value="http://www.amawakawaka.co.za/img/banner.jpg" />
  </appSettings>
  
</configuration>